<div class="d-flex flex-column align-items-center">
  <div class="content-titles text-center">
    <h1 class="fw-bold mb-2 custom-title">Certificados gerados</h1>
    <p class="text-muted mb-4 custom-paragraf">
      Visualize todos os certificados gerados
    </p>
  </div>
  <div class="custom-card w-100">
    <i class="ph ph-certificate"></i>
    <div class="custom-empty-text">
      <h3 class="card-title">Nenhum certificado gerado</h3>
      <p class="card-subtitle">Gere certificados para consultar o histórico</p>
    </div>
    <app-second-button></app-second-button>
  </div>
</div>
