.navbar {
  background-color: var(--white);
  padding: 1rem 2rem;
  border-bottom:1px solid var(--gray-100);
}

.nav-link.active {
color: var(--blue-base);
}

.active {
color: var(--blue-base);
}

.nav-link {
color: var(--gray-200);
}

