@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

.menu {
  max-width:800px;
}

.btn-back {
  gap:6px;
  color: var(--gray-200);
  font-weight:600;
  font-size:14px;
  line-height: 20px;
  letter-spacing: 0;
  vertical-align: middle;
  cursor: pointer;
}

.certificate {
  margin-top:32px;
  background-image: url('../../../../public/assets/images/certificate_bg.svg');
  width: 800px;
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 12px;
}

.certificate-content{
  width: 720px;
  height:470px;
  background-color: var(--white);
  border-radius: 8px;
  gap:20px;
  position:relative;
}

.icon-medal {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;
}

.header{
  text-align: center;
  margin: 20px;
}

.header h1{
  font-weight: 900;
  font-size: 28px;
  line-height:160%;
  letter-spacing:2.4px;
  color: var(--blue-dark);
}

.header p{
  font-weight: 400;
  font-size: 12px;
  line-height:160%;
  letter-spacing:10%;
  margin:0;
}

.student{
  font-family: "Dancing Script";
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  margin: 20px;
  padding: 0 20px;
  line-height: 50px;
  color: var(--blue-base);
}

.tasks {
  width: 500px;
}

.tasks p {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  line-height: 160%;
  letter-spacing: 0;
  color: var(--gray-300);
}

.tasks p.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0;
   text-align: justify;
  color: var(--gray-300);
}

.date-end {
  color: var(--gray-300);
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0;
  margin: 20px auto;
}

.signing {
  position:absolute;
  right: 40px;
  bottom: 24px;
}

